body {
	font-family: "Raleway"; sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/*Header*/

	.first-try {
		display: flex;
				}

		.first-try img {
		height: 60px;
						}

		.first-try nav {
		display: flex;
		position: relative;
		margin-left:  1200px;
			
						}				

			.first-try nav ul {
			display: flex;	
			margin: right;	
								}

				.first-try nav li {
				display: flex;	
				text-decoration: none;
				padding-right: 10px;
								}	
		/*Main*/

main h1{
	font-weight: bold;
	text-transform: capitalize;
	text-align: :left;
	width: 100%;
	font-size: 30px;
	font-weight: 900;
		}


main h2 {
	text-transform: capitalize;
	text-align: left;
	font-variant: small-caps;		
	}
	
	.second-try ul{
	display: flex;
		
		}
		.second-try li{
		display:flex;
		padding:10px 20px;
		width: 100%;
		border-style: solid;
		border-radius: 20px;
	
						}
.hotel {
		
		border-radius: 20px;
		background-color: blue;
		border: dotted;
		display: flex;
		}
		
	.hotel-bedrooms-container {
			
			border-radius: 20px;
			background-color:#F2F2F2;
			display: flex;
			flex-wrap: wrap;
			max-width: 65%;
			justify-content: center;
			
		
		
		}
		
		.hotel-bedrooms-container-block1together1 {	
			border: double;	
			border-radius: 10px;
		

		}	

		.hotel-bedrooms-container-block1 img {
			width: 290px;
			height: 400px;
			padding: 20px;
		}

		.hotel-bedrooms-container-block1 p {
			border: dotted;
		}

		
		.hotel-bedrooms-container-block1together2 {	
			border: double;	
			border-radius: 10px;

		}	

	
		.hotel-bedrooms-container-block1 img {
			height: 400px;
			padding: 20px;
			width: 290px;
		}

		.hotel-bedrooms-container-block1 p {
			border: none;
		}


		.hotel-bedrooms-container-block1together3 {
			border: double;	
			border-radius: 10px;

		}
		.hotel-bedrooms-container-block1 img {
			width: 290px;
			height: 400px;
			padding: 20px;
		}

		.hotel-bedrooms-container-block1 p {
			border: none;
		}

		.hotel-bedrooms-container-block1together4 {
			border: double;	
			border-radius: 10px;

		}
		.hotel-bedrooms-container-block1 img {
			width: 290px;
			height: 400px;
			padding: 20px;
		}

		.hotel-bedrooms-container-block1 p {
			border: none;
		}
		
		.hotel-bedrooms-container-block1together5 {
			border: double;	
			border-radius: 10px;
		}
		.hotel-bedrooms-container-block1 img {
			width: 290px;
			height: 400px;
			padding: 20px;
		}

		.hotel-bedrooms-container-block1 p {
			border: none;
		}
		.hotel-bedrooms-container-block1together6 {
			border: double;	
			border-radius: 10px;	
		}
		.hotel-bedrooms-container-block1 img {
			width: 290px;
			height: 400px;
			padding: 20px;
		}
		
		
		/*Aside*/

		.hotel-bedrooms-container2   {
			background-color:#F2F2F2;
			display: block;
			border-radius: 20px;
			width: 40%;

		}

		
		.hotel-bedrooms-container2ensemble {
			float: right;
			display: flex;
			border: double;

		}
		.hotel-bedrooms-container2ensemble-block article {
			padding-left: 250px;
			padding-top: 250px;
		}
		
		.hotel-bedrooms-container3ensemble {
			float: right;
			display: flex;
			border: double;

		}
		.hotel-bedrooms-container3ensemble-block article {
			padding-left: 250px;
			padding-top: 250px;

		}

		.hotel-bedrooms-container4ensemble {
			float: right;
			display: flex;
			border: double;

		}
		.hotel-bedrooms-container3ensemble-block article {
			padding-left: 250px;
			padding-top: 250px;

		}	
		

		.hotel-bedrooms-container2 img {
				width: 500px;
				height: 400px;
				border: double;
		 
		}
		
		
		.hotel-activities-container {
			border-radius: 20px;
			background-color:#F2F2F2 ;
			width: 100%;
			display: flex;
			border: dotted;
			margin-right: 20px;
			padding-bottom: 0px;
			padding-top: 10px;
			justify-content: center;
		}

		.hotel-activities-container-picture1 {
			border: double;

		}

		.hotel-activities-container-picture2 {
			border: dotted;
		}

		.hotel-activities-container-picture3 {
			border: dotted;
		}

		.hotel-activities-container-picture4 {
			border: double;
		}

		.hotel-activities-container-picture5 {
			border:double;
		}

		.hotel-activities-container-picture6 {
			border:double;
		}


		.hotel-activities-container-picture1 img {
			height: 600px;
			width: 400px;
		}

		.hotel-activities-container-picture2 img {		
			width: 300px;
			padding: 60px;

		}

		.hotel-activities-container-picture3 img {
			width: 300px;
			padding: 60px;

		}


		.hotel-activities-container-picture4 img {
			height: 600px;
			width: 400px;
		}




		.hotel-activities-container-picture5 img {		
			width: 300px;
			padding: 60px;
		}

		.hotel-activities-container-picture6 img {		
			width: 300px;
			padding: 60px;
		}

		.hotel-activities-container p {
			padding-left: 200px;
			text-transform: uppercase;

		}



/*Footer*/

.last-try {
	display: flex;
	border: dotted;
	
}


.content-lists {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;

}



.content-list li {
 	text-decoration-style: none;
 	display: flex;
 	background-color: yellowgreen;
	justify-content: space-around;
	padding: 20px;
	line-height: 10px;
	
}



@media screen and (max-width=768px){

	
}

