/*GENERAL*/

/*BODY*/

html,body {
	font-family: "Raleway";
}

.flexBetween {
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.flexAround {
	display:flex;
	justify-content: space-around;
	align-items:center;
}


.flexCentre {
	display: flex;				
	justify-content: center;
	align-items: center;
}	


/*45 POR CIENTO DEL CONTENEDOR MADRE*/
.sizeLiens {
	width: 100%;
}

.sizeLien {
	width: 140px;
	height: 99px;
}
.sizeLien12{
    margin-left: 60%;

}

.colorLien13 {
	color:#0065fc;
}

.colorLien2 {
	color: black;
}
.colorBleuClair {
	color: #DEEBFF;	
}
.colorGris {
	color:#F2F2F2		

} 
.backBleu {
	background-color:  #0065FC;						
} 
.backBleuClair {
	background-color: #DEEBFF;
} 
.backGris {
	background-color:#F2F2F2;
}

.flexColumnCentre {
	display: flex;
	flex-direction: column;				
	justify-content: center;
	align-items: center;
}
.flexColumnAround {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
}

.flexColumnBetween {
	display: flex;
	flex-direction: column;
	justify-content:space-between;

}
			
.decorationNone {
	text-decoration: none;
}

.bordureNone {
	border: none;
}

.paddingSearch {
	padding-left: 20px;
}



.buttonSearch{
	height:50px;
	width:120px;
	background-color: #0065fc;
	color:white;
	cursor:pointer;
	border-radius: 0 10px 10px 0;
}


.buttonSearch:hover{
	color: #0065fc;
	background-color: #F2F2F2;

}

.textGras {
	font-weight: bold;
}			

/*NAV*/
	
.sizeNav {
	height:auto;

}	
.bordureNav	{
	border-top: 1px solid transparent;
}	

.bordureNav:hover{
	border-top: 1px solid #0065FC;
	cursor: pointer;
}

.bordureNav:hover >a {
	color:#0065FC;
}


.margLogo {
	margin-bottom: 7px;
}
					
/*HEADER*/

.bureauNo {
	display:none;
}

.bordureSearch {
	width: 400px;
	border-radius: 10px;
	border:0.5px solid #F2F2F2;
		
}


.recherche {
	height: 50px;
	width: 230px;
	font-size: 18px;
	color:black;
	font-weight: bold;

}
.iconSize {
	height:50px;
	width:50px;
	border-radius: 10px 0 0 10px;

}

/*Filtres*/

.filtre {

	display: flex;
	align-items: center;
}

.margFiltre {

	margin-top: 50px;
	margin-bottom: 40px;
}
.margFiltreTitre {
	margin-right: 20px;

}

.filtreTextIcons {
	border: 2px solid #F2F2F2;
	height: 50px;
	border-radius: 30px;
	margin-right: 20px;

}

.filtreIcons {
	border-radius: 25px;
	width:	52px;
	height:	52px;
	color:#0065FC;
	background-color: lightblue;
	margin-left:-2px;
}

.filtreTextIcons:hover >.filtreText {
	color:#0065FC;
}

.filtreTextIcons:hover > .filtreIcons {
	color:white;
	background-color: #0065FC;
}
/*info icone Additionnel*/

.Additionnel {
	display: flex;	
	align-items: center;
}

.parentIcon {

	width: 20px;
	height: 20px;
	border: 2px solid #F2F2F2;
	border-radius: 25px;
	margin-right: 5px;
}



.filtreText {
	height:50px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0 25px 25px 0;
}



/*HEBERGEMENTS*/

.sizeHebergements {
	flex:2;/*2 fois plus de taille par rapport a size populaires*/
	height: 650px;
	margin-right: 20px;
	border-radius: 10px;

}

.sizePopulaires {
	flex: 1;
	height: 650px;
	margin-left:20px;
	border-radius: 10px;

}
.blocSejour {
	padding-right: 20px;
	padding-left: 20px;
}
.bloc1 {
	margin-bottom: 10px;
}
.bloc2 {
	margin-top: 10px;
}
.cubeDetailHebergements {
	width: 90%;

}
.imgHebergements1 {

	background-image: url("../img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;

}	
.imgHebergements2 {

	background-image: url("../img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
}

.imgHebergements3 {

	background-image: url("../img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
}

.imgHebergements4 {

	background-image: url("../img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
}

.imgHebergements5 {

	background-image: url("../img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
}

.imgHebergements6 {

	background-image: url("../img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
}

.cubeHebergements {
	width:30%;/*de son parent*/
	height:auto;
	background-color: white;
	padding:1%;
	border-radius: 20px;
	/*rajoute box shadow pour voir en version mobile et desktop*/
	box-shadow: 5px 5px 5px 1px #F2F2F2;
}

.cubeHebergements:hover {
	cursor: pointer;
	transform: scale(1.1);
}



/*Populaires*/

.blocPopulaires {
	padding-left: 20px;
	padding-right: 20px;

}
.imgPopulaires7 {

	background-image: url("../img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 35%;
	height: 160px;
	border-radius: 15px 0 0 15px;

}	
.imgPopulaires8 {

	background-image: url("../img/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 35%;
	height: 160px;
	border-radius: 15px 0 0 15px;

}
.imgPopulaires9 {

	background-image: url("../img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 35%;
	height: 160px;
	border-radius: 15px 0 0 15px;

}
.cubePopulaires {
	background-color: white;
	height: auto;
	padding:1% 0 1% 1%;
	border-radius: 20px;

}

.cubePopulaires:hover {
	cursor: pointer;
	transform: scale(1.05);
	}

.blocPopulaires12 {
	margin-bottom: 22px;


}

.cubeDetailPopulaires {
	width: 60%;/*60% AL TEXTO Y 35% A LA FOTO*/
	padding-left: 5%;/*5% + 60% + 35% = 100%*/
}

/*Activités*/

.Activites {
	margin-top: 50px;
	margin-bottom: 50px;

}
.blocActivites {
	width: 100%;/*100% de son parent*/
	height: 600px;
}
.blocActivites2356 {
	width: 23%;
	height: 600px;
}

/*Reglages bloc*/

.cubeActivites {

	width: 23%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 1px #F2F2F2;
}

.cubeActivites:hover{
	cursor: pointer;
	transform: scale(1.03);
}

.cubeActivites2356 {

	width: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 1px #F2F2F2;
}

.cubeActivites2356:hover {
	cursor: pointer;
	transform: scale(1.03);

}

.imgActivites1 {
	

	background-image: url("../img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 530px;
	border-radius: 15px 15px 0 0;
	
}

.imgActivites2 {
	

	background-image: url("../img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 250px;
	border-radius: 15px 15px 0 0;
	
}

.imgActivites3 {
	

	background-image: url("../img/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 150px;
	border-radius: 15px 15px 0 0;
	
}

.imgActivites4 {
	

	background-image: url("../img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 530px;
	border-radius: 15px 15px 0 0;
	
}

.imgActivites5 {
	

	background-image: url("../img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	border-radius: 15px 15px 0 0;
	
}

.imgActivites6 {
	

	background-image: url("../img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	border-radius: 15px 15px 0 0;
	
}




/* Fin Reglages bloc*/
.hauteurTitre {
	height: 70px;

}

.titreActivites {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 5%;
	width: 95%;
}


/*Footer*/
.footer {

	height: 300px;
	margin-top: 100px;
}

.tailleBlocFoot {

	height: 150px;
}

.margeBlocFoot1 {
	margin-left: 5%;

}

.margeBlocFoot3 {
	margin-right: 15%;

}

/*Détail des étoiles*/
.ColorBleu {
	color: #0065FC;
}

/*Responsive*/
@media screen and (max-width: 1295px) {
    .sizeLien12 {
        margin-left: 35%;
    } 
    
    .cubeDetailHebergements { /*Manipulacion para agrandar las cartas pero hubo un problema porque el contenedor madre cubeHebergements no era suficientemente grande para acoger a las cartas hijas y eso porque la talla indicada de cada carta no era la adecuada para cada carta*/
        min-height:150px;     

    }

    .sizeHebergements {
        min-height:auto;
        padding: 20px;/*anadimos el padding para tener espacio alreddedor del bloque hebergements y haremos igual con el bloque populaires y luego inyectaremos las propiedades css en size populaires asi los bloques hebergements y populaires tendran una mini altura automatica que se agrandara en funcion del tamano impuesto a cada carta */ 

    }

    .sizePopulaires {
        min-height:auto;
        padding: 20px;
    }
}                          
@media screen and (max-width: 990px) {
    .mobileFiltrewrap  {
        flex-direction: column;
		align-items: flex-start;
                        }
                   

	.filtreTextIcons {
		margin-bottom: 20px;
	}	
	
	#hebergements {
		flex-direction: column-reverse;
		width: 100%;
	}

	.blocPopulaires {
		flex:none;
		width: 90%;
		margin-left:0;
		padding:5%;
		
	}
	.blocSejour {
		flex:none;
		width: 90%;
		margin-right: 0;
		margin-top: 50px;
		padding: 5%;
	}
	}
@media screen and (max-width: 770px) {
	.sizeLiens {
		width: 90%;

}
	.sizeLien12	{
		margin-left: 20%;
	}
	.blocSejour {
		height: auto;
	}
	.bloc1{
		flex-direction: column;
		margin-bottom: 0;

	}
	.bloc2{
		flex-direction: column;
		margin-bottom: 0;
	}
	.cubeHebergements {
		width: 100%;
		margin-bottom: 50px;

	}
	.cubeDetailHebergements {
		min-height: auto;
	
	}
	.blocActivites {
		flex-direction: column;
		height: auto;

	}
	.cubeActivites{
		width: 100%;
		margin-bottom: 50px;
	}
	.blocActivites2356 {
		width: 100%;
		height: auto;
	}
	.cubeActivites2356 {

		margin-bottom: 50px;
	}
	.imgActivites1, .imgActivites2, .imgActivites3, .imgActivites4, .imgActivites5, .imgActivites6 {

		height:200px;
	}
	.footer { /*hay que ajustar la altura ya que los elementos se salen*/

		flex-direction: column;
		align-items: flex-start;/*para que los elementos empiecen al comienzo del footer*/
		height: auto;
		padding-left: 20px;/* cuando se usa flex-box se utiliza justify-content */
	}
	.margeBlocFoot1 {
		margin-left: 0;

	}

	}
@media screen and (max-width: 600px) {
	
	.sizeLien {
		flex-direction: row;
	} /*para comprender que debe quedar en linea y no en columna*/
	

	.sizeLien12 {
		order: 1;
		width: 100%;/*ESTE CUBO TOMARA 100 POR CIENTO DE SU PAPA*/
		margin-left: 0;
	
	}

	.sizeLienMobile {
		width: 50%; /*TOMA EL 50 POR CIENTO DE TU PADRE SIZELIEN12*/
		border-top: 0;
		border-bottom: 5px solid #F2F2F2;
	}

	.sizeLiens {
	
		width:100%;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.sizeLienMobile:hover {
		border-top:0;
		border-bottom: 5px solid #0065FC;

	}
	/*.mobileTitreh1 {
		font-size:x-large;
	}*/
	
	.bordureSearch {
		margin-left: auto;
		margin-right: auto;
		border: none;
		border-bottom: 1px solid #F2F2F2;
		border-top: 1px solid #F2F2F2;
	}

	.recherche {
		width: 200px;
		border-bottom: 1px solid #F2F2F2;
		border-top: 1px solid #F2F2F2;
	}

	.buttonSearch {
		width: 50px;
		border-radius: 15px;

	}

	.bureauNo {
		display:block;
	}
	

	.mobileNone {
		display:none;
	}
	html,body {
		margin:0;
		padding:0;
	}
	.margFiltre {
		padding-left: 5%;
	}
	.mobileEconomiques{
		margin-right: 5px;

	}
	.mobileFamiliales{
		margin-right: 5px;
	}

	.filtreTexte {
		padding-left: 10px;
		padding-right: 10px;

	}
	.info{
		padding-left: 5%;

	}

	.blocPopulaires {
		border-radius: 0;
	}

	.blocSejour{
		background-color: white;

	}

	.mobileTitresPara {

		padding-left: 5%;
	}

	.blocActivites {
		padding: 5%;
		width: 90%;
	}


}
